<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{75,60}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{1,171},{75,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{89,58}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{93,54}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{1,61},{93,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{89,52}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{1,117},{89,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{81,50}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{1,233},{81,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{81,44}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{1,285},{81,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-4}</string>
                <key>spriteSize</key>
                <string>{79,44}</string>
                <key>spriteSourceSize</key>
                <string>{117,64}</string>
                <key>textureRect</key>
                <string>{{47,285},{79,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_DIE.png</string>
            <key>size</key>
            <string>{95,367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d26644239ff0e04b7467b6b726d8e4b:774ec786fea47c60dacafb9cc4add621:00c1bc83f67c46e38910c65954a84f1c$</string>
            <key>textureFileName</key>
            <string>3_TROLL_DIE.png</string>
        </dict>
    </dict>
</plist>
