<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{87,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{75,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{75,64}</string>
                <key>textureRect</key>
                <string>{{1,265},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{1,331},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,64}</string>
                <key>textureRect</key>
                <string>{{1,397},{80,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_ORK_WALK.png</string>
            <key>size</key>
            <string>{85,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dbe8338c042dc04f2a9a845abf73f0b:a20fe4157513f90232bdf54e1874b9d3:379ff8a224f14f91dcee96c9285ee7af$</string>
            <key>textureFileName</key>
            <string>2_ORK_WALK.png</string>
        </dict>
    </dict>
</plist>
