<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{81,76}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{90,175},{81,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{90,1},{85,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{85,90}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{1,93},{85,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{1,185},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{83,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{152,88},{83,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{85,62}</string>
                <key>spriteSourceSize</key>
                <string>{107,90}</string>
                <key>textureRect</key>
                <string>{{88,88},{85,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_ATTACK.png</string>
            <key>size</key>
            <string>{215,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acf77e1855da3e85a3769d8e0997e1ea:793a77202163acae8ed678468bb976b4:731eeda444c8c3f2e6273fea033ad07e$</string>
            <key>textureFileName</key>
            <string>3_TROLL_ATTACK.png</string>
        </dict>
    </dict>
</plist>
