<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_ORK_DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{77,64}</string>
                <key>textureRect</key>
                <string>{{124,67},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_ORK_DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,64}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{133,1},{91,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_ORK_DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,64}</string>
                <key>spriteSourceSize</key>
                <string>{109,64}</string>
                <key>textureRect</key>
                <string>{{55,113},{101,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_ORK_DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{103,58}</string>
                <key>spriteSourceSize</key>
                <string>{111,64}</string>
                <key>textureRect</key>
                <string>{{121,133},{103,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_ORK_DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{105,52}</string>
                <key>spriteSourceSize</key>
                <string>{111,64}</string>
                <key>textureRect</key>
                <string>{{1,113},{105,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2_ORK_DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{121,54}</string>
                <key>spriteSourceSize</key>
                <string>{123,64}</string>
                <key>textureRect</key>
                <string>{{1,57},{121,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2_ORK_DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{130,54}</string>
                <key>spriteSourceSize</key>
                <string>{132,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{130,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_ORK_DIE.png</string>
            <key>size</key>
            <string>{225,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3abd45859dcb4e191c5bce4be00b7eb:1483618bd4e506aa61f45391b52e17b8:03eed0d4fef235866526258cd6ea6630$</string>
            <key>textureFileName</key>
            <string>2_ORK_DIE.png</string>
        </dict>
    </dict>
</plist>
