<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{112,59},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{94,64}</string>
                <key>textureRect</key>
                <string>{{190,59},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{107,64}</string>
                <key>spriteSourceSize</key>
                <string>{109,64}</string>
                <key>textureRect</key>
                <string>{{284,59},{107,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{109,60}</string>
                <key>spriteSourceSize</key>
                <string>{111,64}</string>
                <key>textureRect</key>
                <string>{{1,59},{109,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{108,54}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,56}</string>
                <key>spriteSourceSize</key>
                <string>{121,64}</string>
                <key>textureRect</key>
                <string>{{111,1},{121,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{129,56}</string>
                <key>spriteSourceSize</key>
                <string>{129,64}</string>
                <key>textureRect</key>
                <string>{{234,1},{129,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ORK_DIE.png</string>
            <key>size</key>
            <string>{392,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da1450eb51ab828e4cb916014ec90b10:b8c452ee55c75d8e9ae61663dcd74f3d:8039b97611406eefc2b4395425a7a3ac$</string>
            <key>textureFileName</key>
            <string>1_ORK_DIE.png</string>
        </dict>
    </dict>
</plist>
