<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{60,52}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{67,67},{60,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{58,62}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1,147},{58,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{56,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{67,1},{56,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1,59},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-11}</string>
                <key>spriteSize</key>
                <string>{62,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{67,129},{62,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{64,42}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1,103},{64,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_TROLL_ATTACK.png</string>
            <key>size</key>
            <string>{124,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ed9553ee54aa7a2d1c0111f3c4de2a:bfeb14a6c447c622adbab739007498f0:e0b92ae573c739f54c2748305d1bce42$</string>
            <key>textureFileName</key>
            <string>1_TROLL_ATTACK.png</string>
        </dict>
    </dict>
</plist>
