<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_ORK_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{150,1},{78,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ORK_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,88},{84,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ORK_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ORK_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{67,64}</string>
                <key>textureRect</key>
                <string>{{147,81},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{67,129},{55,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ORK_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{81,60}</string>
                <key>spriteSourceSize</key>
                <string>{83,64}</string>
                <key>textureRect</key>
                <string>{{67,1},{81,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{67,63},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_ORK_ATTACK.png</string>
            <key>size</key>
            <string>{215,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6606f6a11834d48f12e38b7108ccc3ad:018db0ed487763cc1b29dc0a2e506079:0a81dc37917579a8beaccd55dbfceaff$</string>
            <key>textureFileName</key>
            <string>3_ORK_ATTACK.png</string>
        </dict>
    </dict>
</plist>
