<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_ORK_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,64}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{84,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{85,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{85,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,74}</string>
                <key>spriteSourceSize</key>
                <string>{78,74}</string>
                <key>textureRect</key>
                <string>{{1,405},{78,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{72,84}</string>
                <key>textureRect</key>
                <string>{{1,333},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3_ORK_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{91,70}</string>
                <key>textureRect</key>
                <string>{{1,265},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ORK_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_ORK_ATTACK.png</string>
            <key>size</key>
            <string>{91,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6236f4aae047dabff75ab9762af90186:bd0db700b9dfc19b991a2d08e17217f3:0a81dc37917579a8beaccd55dbfceaff$</string>
            <key>textureFileName</key>
            <string>3_ORK_ATTACK.png</string>
        </dict>
    </dict>
</plist>
