<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{355,1},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{294,1},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{227,1},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{95,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{130,1},{95,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,64}</string>
                <key>spriteSourceSize</key>
                <string>{127,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_TROLL_ATTACK.png</string>
            <key>size</key>
            <string>{413,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e95887c6c756085676afe19494f54ddd:ac8283f46206166b33acb4afe3baec29:fa4ede7f72400d3c302a93d2db259633$</string>
            <key>textureFileName</key>
            <string>1_TROLL_ATTACK.png</string>
        </dict>
    </dict>
</plist>
