<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{52,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{67,67},{52,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-1}</string>
                <key>spriteSize</key>
                <string>{52,62}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{67,133},{52,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{60,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{67,1},{60,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{1,113},{94,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,64}</string>
                <key>spriteSourceSize</key>
                <string>{110,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_ATTACK.png</string>
            <key>size</key>
            <string>{128,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25bc5777811c7f5d4d4083e6c304715:d7d38976d556bddf18bc0bed93980211:90b6cc22248e3bea0221a93b50c7139b$</string>
            <key>textureFileName</key>
            <string>3_TROLL_ATTACK.png</string>
        </dict>
    </dict>
</plist>
