<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,64}</string>
                <key>spriteSourceSize</key>
                <string>{51,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{51,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,64}</string>
                <key>spriteSourceSize</key>
                <string>{59,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{59,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,62}</string>
                <key>textureRect</key>
                <string>{{1,265},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_ATTACK.png</string>
            <key>size</key>
            <string>{61,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3eb30790d8f4aaa96eb7dcef6dffc79:a1558ee36afb7a881f0f779d4cc5ae78:731eeda444c8c3f2e6273fea033ad07e$</string>
            <key>textureFileName</key>
            <string>3_TROLL_ATTACK.png</string>
        </dict>
    </dict>
</plist>
