<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{77,58}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{1,216},{77,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-1}</string>
                <key>spriteSize</key>
                <string>{89,58}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{1,102},{89,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{99,54}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{97,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{1,162},{97,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{1,276},{89,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{89,44}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{51,276},{89,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-5}</string>
                <key>spriteSize</key>
                <string>{87,40}</string>
                <key>spriteSourceSize</key>
                <string>{119,64}</string>
                <key>textureRect</key>
                <string>{{57,1},{87,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_TROLL_DIE.png</string>
            <key>size</key>
            <string>{99,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce9bf0b566804ba7e8694f8dc988c7f3:6114a78fcee5bfd0db7a111ddd2c8c41:b5cd73f4821545e0973530c58631683d$</string>
            <key>textureFileName</key>
            <string>1_TROLL_DIE.png</string>
        </dict>
    </dict>
</plist>
