<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{77,64}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,325},{77,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{93,64}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,259},{93,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{105,54}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,61},{105,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{95,50}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,117},{95,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{95,44}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,169},{95,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{95,42}</string>
                <key>spriteSourceSize</key>
                <string>{125,64}</string>
                <key>textureRect</key>
                <string>{{1,215},{95,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_TROLL_DIE.png</string>
            <key>size</key>
            <string>{107,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ee8934c9d957964ac783afa1aaa3438:822ca19ed568451fa0b836a88c3397c6:e7dfa9120afa68e16f98ee2365fa1463$</string>
            <key>textureFileName</key>
            <string>2_TROLL_DIE.png</string>
        </dict>
    </dict>
</plist>
