<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-137,-6}</string>
                <key>spriteSize</key>
                <string>{895,1032}</string>
                <key>spriteSourceSize</key>
                <string>{1279,1140}</string>
                <key>textureRect</key>
                <string>{{1058,928},{895,1032}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-235,-45}</string>
                <key>spriteSize</key>
                <string>{799,1030}</string>
                <key>spriteSourceSize</key>
                <string>{1279,1140}</string>
                <key>textureRect</key>
                <string>{{1,1496},{799,1030}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-7}</string>
                <key>spriteSize</key>
                <string>{751,1066}</string>
                <key>spriteSourceSize</key>
                <string>{1279,1140}</string>
                <key>textureRect</key>
                <string>{{1,1},{751,1066}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-41}</string>
                <key>spriteSize</key>
                <string>{925,854}</string>
                <key>spriteSourceSize</key>
                <string>{1279,1140}</string>
                <key>textureRect</key>
                <string>{{1069,1},{925,854}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,-101}</string>
                <key>spriteSize</key>
                <string>{1055,740}</string>
                <key>spriteSourceSize</key>
                <string>{1279,1140}</string>
                <key>textureRect</key>
                <string>{{1,754},{1055,740}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ELF_DIE.png</string>
            <key>size</key>
            <string>{1954,2296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2029ded6e5005764378e332ebb03e1f:2196ab92af3dcc509289d29fed870a2e:1d738381b3c4226841e34a99a23107b6$</string>
            <key>textureFileName</key>
            <string>1_ELF_DIE.png</string>
        </dict>
    </dict>
</plist>
