<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-26}</string>
                <key>spriteSize</key>
                <string>{1595,1026}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1,1},{1595,1026}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-38}</string>
                <key>spriteSize</key>
                <string>{1557,1022}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1,1029},{1557,1022}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-39}</string>
                <key>spriteSize</key>
                <string>{1451,1020}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1518,3075},{1451,1020}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-83,-25}</string>
                <key>spriteSize</key>
                <string>{1369,1026}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1598,1},{1369,1026}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-106,-26}</string>
                <key>spriteSize</key>
                <string>{1261,1022}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1560,2051},{1261,1022}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-30}</string>
                <key>spriteSize</key>
                <string>{1269,1016}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1,3077},{1269,1016}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-26}</string>
                <key>spriteSize</key>
                <string>{1421,1020}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1560,1029},{1421,1020}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-23}</string>
                <key>spriteSize</key>
                <string>{1515,1022}</string>
                <key>spriteSourceSize</key>
                <string>{1635,1104}</string>
                <key>textureRect</key>
                <string>{{1,2053},{1515,1022}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_KNIGHT_ATTACK.png</string>
            <key>size</key>
            <string>{2982,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1919403a8c41914640b57051e44da2:05925d2ce3073766f77ea0635dfb4380:e264b8f7286850cf6d3622a06d43de97$</string>
            <key>textureFileName</key>
            <string>1_KNIGHT_ATTACK.png</string>
        </dict>
    </dict>
</plist>
