<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{197,126}</string>
                <key>spriteSize</key>
                <string>{1441,1027}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{1562,1},{1441,1027}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{172,98}</string>
                <key>spriteSize</key>
                <string>{1435,1013}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{1,776},{1435,1013}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{149,49}</string>
                <key>spriteSize</key>
                <string>{1391,959}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{1016,1444},{1391,959}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-24}</string>
                <key>spriteSize</key>
                <string>{1475,861}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{2409,1536},{1475,861}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-126}</string>
                <key>spriteSize</key>
                <string>{1559,773}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{1,1},{1559,773}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-254}</string>
                <key>spriteSize</key>
                <string>{1533,711}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{2591,1},{1533,711}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-311}</string>
                <key>spriteSize</key>
                <string>{1481,665}</string>
                <key>spriteSourceSize</key>
                <string>{1841,1369}</string>
                <key>textureRect</key>
                <string>{{3304,1},{1481,665}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_KNIGHT_DIE.png</string>
            <key>size</key>
            <string>{3970,2404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24ab5b81f77f2397253c76e19299bc93:619e6127a7ef549e0bd4abb21ef71d72:b6f7bc1dd8bb6a6e293c3c74e2dd9528$</string>
            <key>textureFileName</key>
            <string>1_KNIGHT_DIE.png</string>
        </dict>
    </dict>
</plist>
