<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1368,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1368,1150}</string>
                <key>textureRect</key>
                <string>{{1,2269},{1368,1150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,7}</string>
                <key>spriteSize</key>
                <string>{1638,1145}</string>
                <key>spriteSourceSize</key>
                <string>{1710,1165}</string>
                <key>textureRect</key>
                <string>{{1,1122},{1638,1145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,7}</string>
                <key>spriteSize</key>
                <string>{1850,1119}</string>
                <key>spriteSourceSize</key>
                <string>{1952,1151}</string>
                <key>textureRect</key>
                <string>{{1,1},{1850,1119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-37}</string>
                <key>spriteSize</key>
                <string>{1877,1038}</string>
                <key>spriteSourceSize</key>
                <string>{1979,1146}</string>
                <key>textureRect</key>
                <string>{{1853,1},{1877,1038}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-39}</string>
                <key>spriteSize</key>
                <string>{1823,887}</string>
                <key>spriteSourceSize</key>
                <string>{1911,1113}</string>
                <key>textureRect</key>
                <string>{{1641,1880},{1823,887}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{1837,805}</string>
                <key>spriteSourceSize</key>
                <string>{1873,987}</string>
                <key>textureRect</key>
                <string>{{1153,2769},{1837,805}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{1850,763}</string>
                <key>spriteSourceSize</key>
                <string>{1880,935}</string>
                <key>textureRect</key>
                <string>{{2893,1},{1850,763}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ORK_DIE.png</string>
            <key>size</key>
            <string>{3657,3638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bda18b44952dff5ba71d3a8bc696ad7:267d909e17384d72275dc91c48aa575c:8039b97611406eefc2b4395425a7a3ac$</string>
            <key>textureFileName</key>
            <string>1_ORK_DIE.png</string>
        </dict>
    </dict>
</plist>
