<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-1}</string>
                <key>spriteSize</key>
                <string>{1545,1157}</string>
                <key>spriteSourceSize</key>
                <string>{1619,1197}</string>
                <key>textureRect</key>
                <string>{{1,1},{1545,1157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{1434,1157}</string>
                <key>spriteSourceSize</key>
                <string>{1466,1183}</string>
                <key>textureRect</key>
                <string>{{1,1160},{1434,1157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{1317,1159}</string>
                <key>spriteSourceSize</key>
                <string>{1359,1171}</string>
                <key>textureRect</key>
                <string>{{1,2319},{1317,1159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{1183,1157}</string>
                <key>spriteSourceSize</key>
                <string>{1337,1175}</string>
                <key>textureRect</key>
                <string>{{1320,2320},{1183,1157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{1178,1157}</string>
                <key>spriteSourceSize</key>
                <string>{1336,1175}</string>
                <key>textureRect</key>
                <string>{{2505,2320},{1178,1157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{1313,1159}</string>
                <key>spriteSourceSize</key>
                <string>{1359,1171}</string>
                <key>textureRect</key>
                <string>{{1548,1159},{1313,1159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{1430,1156}</string>
                <key>spriteSourceSize</key>
                <string>{1460,1182}</string>
                <key>textureRect</key>
                <string>{{1548,1},{1430,1156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ORK_WALK.png</string>
            <key>size</key>
            <string>{3684,3479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e6ca59816914d204903e6963be76ed4:58800354d325f58dbad4f41e9ef6b8eb:321586495f248fbba9252b3015f3c3da$</string>
            <key>textureFileName</key>
            <string>1_ORK_WALK.png</string>
        </dict>
    </dict>
</plist>
