<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1368,1150}</string>
                <key>spriteSourceSize</key>
                <string>{1368,1150}</string>
                <key>textureRect</key>
                <string>{{2712,2310},{1368,1150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{1555,1154}</string>
                <key>spriteSourceSize</key>
                <string>{1621,1160}</string>
                <key>textureRect</key>
                <string>{{1,1154},{1555,1154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,3}</string>
                <key>spriteSize</key>
                <string>{1601,1152}</string>
                <key>spriteSourceSize</key>
                <string>{1713,1168}</string>
                <key>textureRect</key>
                <string>{{1607,1},{1601,1152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-11}</string>
                <key>spriteSize</key>
                <string>{1476,1330}</string>
                <key>spriteSourceSize</key>
                <string>{1548,1382}</string>
                <key>textureRect</key>
                <string>{{1380,2310},{1476,1330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{1377,1542}</string>
                <key>spriteSourceSize</key>
                <string>{1501,1602}</string>
                <key>textureRect</key>
                <string>{{1,2310},{1377,1542}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-34}</string>
                <key>spriteSize</key>
                <string>{1604,1151}</string>
                <key>spriteSourceSize</key>
                <string>{1720,1249}</string>
                <key>textureRect</key>
                <string>{{1,1},{1604,1151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,3}</string>
                <key>spriteSize</key>
                <string>{1435,1153}</string>
                <key>spriteSourceSize</key>
                <string>{1473,1165}</string>
                <key>textureRect</key>
                <string>{{1558,1155},{1435,1153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ORK_ATTAK.png</string>
            <key>size</key>
            <string>{4081,3853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57afd7990de85a9bf9a9d7a3466dbfdb:8ab5749085076305011773fda3d18a4f:4c83146685e868a73db67a5773245e4d$</string>
            <key>textureFileName</key>
            <string>1_ORK_ATTAK.png</string>
        </dict>
    </dict>
</plist>
