<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{772,511}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{1,1},{772,511}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{728,513}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{1,775},{728,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{674,517}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{516,727},{674,517}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,11}</string>
                <key>spriteSize</key>
                <string>{616,517}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{1035,520},{616,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,11}</string>
                <key>spriteSize</key>
                <string>{612,517}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{1035,1039},{612,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,11}</string>
                <key>spriteSize</key>
                <string>{672,517}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{1029,1},{672,517}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,12}</string>
                <key>spriteSize</key>
                <string>{724,513}</string>
                <key>spriteSourceSize</key>
                <string>{820,555}</string>
                <key>textureRect</key>
                <string>{{514,1},{724,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_TROLL_WALK.png</string>
            <key>size</key>
            <string>{1702,1557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9bdb5901dd5291334bcb18b44c6873d:46859e6dbc39928c5e32554fb6e4266b:f07f8a63be229985994235ad80739983$</string>
            <key>textureFileName</key>
            <string>1_TROLL_WALK.png</string>
        </dict>
    </dict>
</plist>
