<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-81}</string>
                <key>spriteSize</key>
                <string>{722,647}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{1190,1198},{722,647}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-27}</string>
                <key>spriteSize</key>
                <string>{688,751}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{1190,508},{688,751}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,1}</string>
                <key>spriteSize</key>
                <string>{672,803}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{1,806},{672,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90,0}</string>
                <key>spriteSize</key>
                <string>{678,803}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{1,1},{678,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-148}</string>
                <key>spriteSize</key>
                <string>{760,505}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{1190,1},{760,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,-148}</string>
                <key>spriteSize</key>
                <string>{738,507}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{681,1},{738,507}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-147}</string>
                <key>spriteSize</key>
                <string>{762,513}</string>
                <key>spriteSourceSize</key>
                <string>{940,817}</string>
                <key>textureRect</key>
                <string>{{675,806},{762,513}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_TROLL_ATTAK.png</string>
            <key>size</key>
            <string>{1951,1846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9952e6d416d8b2fdf809be9e4c9a28a4:e298795a03a89125772af647e4c6fa77:fa4ede7f72400d3c302a93d2db259633$</string>
            <key>textureFileName</key>
            <string>1_TROLL_ATTAK.png</string>
        </dict>
    </dict>
</plist>
