<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,-16}</string>
                <key>spriteSize</key>
                <string>{673,513}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{870,376},{673,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-12}</string>
                <key>spriteSize</key>
                <string>{803,509}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{1,825},{803,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-13}</string>
                <key>spriteSize</key>
                <string>{895,471}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{806,891},{895,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,9}</string>
                <key>spriteSize</key>
                <string>{867,447}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{1,376},{867,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,-12}</string>
                <key>spriteSize</key>
                <string>{783,419}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{1563,1},{783,419}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{80,-37}</string>
                <key>spriteSize</key>
                <string>{783,373}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{778,1},{783,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,-49}</string>
                <key>spriteSize</key>
                <string>{775,347}</string>
                <key>spriteSourceSize</key>
                <string>{1101,591}</string>
                <key>textureRect</key>
                <string>{{1,1},{775,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_TROLL_DIE.png</string>
            <key>size</key>
            <string>{1983,1363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410e10dd5c819ab0968bab6469955849:5f185bf7f5dda4c32bec26246ed1a708:b5cd73f4821545e0973530c58631683d$</string>
            <key>textureFileName</key>
            <string>1_TROLL_DIE.png</string>
        </dict>
    </dict>
</plist>
