<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-13}</string>
                <key>spriteSize</key>
                <string>{882,1006}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1066}</string>
                <key>textureRect</key>
                <string>{{1,1033},{882,1006}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-8}</string>
                <key>spriteSize</key>
                <string>{798,1030}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1066}</string>
                <key>textureRect</key>
                <string>{{1,1},{798,1030}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-105,-16}</string>
                <key>spriteSize</key>
                <string>{740,1020}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1066}</string>
                <key>textureRect</key>
                <string>{{801,1},{740,1020}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,-16}</string>
                <key>spriteSize</key>
                <string>{834,1010}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1066}</string>
                <key>textureRect</key>
                <string>{{1543,1},{834,1010}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-7}</string>
                <key>spriteSize</key>
                <string>{978,1018}</string>
                <key>spriteSourceSize</key>
                <string>{1062,1066}</string>
                <key>textureRect</key>
                <string>{{1009,1023},{978,1018}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_ELF_ATTACK.png</string>
            <key>size</key>
            <string>{2378,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce26851aa9ecc6c3be6d5a62cb1fb05c:212ce4dc642e6e84dee9d34b7aae3f24:936c65150b79d68aac23db27b28858dd$</string>
            <key>textureFileName</key>
            <string>2_ELF_ATTACK.png</string>
        </dict>
    </dict>
</plist>
