<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-68}</string>
                <key>spriteSize</key>
                <string>{1157,1019}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{1,1022},{1157,1019}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,-77}</string>
                <key>spriteSize</key>
                <string>{999,1033}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{1164,1018},{999,1033}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-249,8}</string>
                <key>spriteSize</key>
                <string>{699,1221}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{3390,1},{699,1221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-215,1}</string>
                <key>spriteSize</key>
                <string>{761,1203}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{2199,1224},{761,1203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-73}</string>
                <key>spriteSize</key>
                <string>{1089,1033}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{2299,1},{1089,1033}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-65}</string>
                <key>spriteSize</key>
                <string>{1133,1015}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{1164,1},{1133,1015}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-65}</string>
                <key>spriteSize</key>
                <string>{1161,1019}</string>
                <key>spriteSourceSize</key>
                <string>{1269,1313}</string>
                <key>textureRect</key>
                <string>{{1,1},{1161,1019}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_KNIGHT_ATTACK.png</string>
            <key>size</key>
            <string>{4090,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d97f23e7d8706c89b925b1b83066a8:5a5d95ad8a28f161904529f74041a477:1aaa043f1ea4745f52ac2c3663951e8c$</string>
            <key>textureFileName</key>
            <string>2_KNIGHT_ATTACK.png</string>
        </dict>
    </dict>
</plist>
