<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{209,130}</string>
                <key>spriteSize</key>
                <string>{1084,1019}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{1,1006},{1084,1019}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{145,110}</string>
                <key>spriteSize</key>
                <string>{1124,1021}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{1187,952},{1124,1021}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{61,73}</string>
                <key>spriteSize</key>
                <string>{1184,1003}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{1,1},{1184,1003}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,7}</string>
                <key>spriteSize</key>
                <string>{1224,949}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{1187,1},{1224,949}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-86,-113}</string>
                <key>spriteSize</key>
                <string>{1294,753}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{2413,1},{1294,753}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,-169}</string>
                <key>spriteSize</key>
                <string>{1278,615}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{2413,756},{1278,615}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126,-236}</string>
                <key>spriteSize</key>
                <string>{1244,641}</string>
                <key>spriteSourceSize</key>
                <string>{1660,1365}</string>
                <key>textureRect</key>
                <string>{{2313,1373},{1244,641}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_KNIGHT_DIE.png</string>
            <key>size</key>
            <string>{3708,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7491e08c9d9c249b3ba024f6acf28d9f:a344a66a71ec8f87eecfd940d6824fe9:d3005fded06175ab494d871486a76f6c$</string>
            <key>textureFileName</key>
            <string>2_KNIGHT_DIE.png</string>
        </dict>
    </dict>
</plist>
