<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1436,1186}</string>
                <key>spriteSourceSize</key>
                <string>{1436,1186}</string>
                <key>textureRect</key>
                <string>{{2518,2753},{1436,1186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,2}</string>
                <key>spriteSize</key>
                <string>{1505,1191}</string>
                <key>spriteSourceSize</key>
                <string>{1671,1197}</string>
                <key>textureRect</key>
                <string>{{1,1},{1505,1191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,3}</string>
                <key>spriteSize</key>
                <string>{1487,1264}</string>
                <key>spriteSourceSize</key>
                <string>{1733,1282}</string>
                <key>textureRect</key>
                <string>{{1194,1},{1487,1264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,5}</string>
                <key>spriteSize</key>
                <string>{1408,1447}</string>
                <key>spriteSourceSize</key>
                <string>{1524,1467}</string>
                <key>textureRect</key>
                <string>{{2518,1343},{1408,1447}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-66}</string>
                <key>spriteSize</key>
                <string>{1323,1491}</string>
                <key>spriteSourceSize</key>
                <string>{1453,1653}</string>
                <key>textureRect</key>
                <string>{{1193,1508},{1323,1491}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-65,4}</string>
                <key>spriteSize</key>
                <string>{1473,1340}</string>
                <key>spriteSourceSize</key>
                <string>{1727,1362}</string>
                <key>textureRect</key>
                <string>{{2518,1},{1473,1340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,3}</string>
                <key>spriteSize</key>
                <string>{1492,1190}</string>
                <key>spriteSourceSize</key>
                <string>{1544,1202}</string>
                <key>textureRect</key>
                <string>{{1,1508},{1492,1190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_ORK_ATTAK.png</string>
            <key>size</key>
            <string>{3992,3940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eb478fdc39ed2f80c073cefad1abf51:9846577a44de6753e41609b4bbd7951b:3fd1824facbc43cb83d410477e15a1f7$</string>
            <key>textureFileName</key>
            <string>2_ORK_ATTAK.png</string>
        </dict>
    </dict>
</plist>
