<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{1548,1196}</string>
                <key>spriteSourceSize</key>
                <string>{1686,1234}</string>
                <key>textureRect</key>
                <string>{{1,1},{1548,1196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{1482,1196}</string>
                <key>spriteSourceSize</key>
                <string>{1534,1220}</string>
                <key>textureRect</key>
                <string>{{1,1551},{1482,1196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{1413,1198}</string>
                <key>spriteSourceSize</key>
                <string>{1433,1208}</string>
                <key>textureRect</key>
                <string>{{1199,1198},{1413,1198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,6}</string>
                <key>spriteSize</key>
                <string>{1333,1194}</string>
                <key>spriteSourceSize</key>
                <string>{1419,1212}</string>
                <key>textureRect</key>
                <string>{{2681,1},{1333,1194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,6}</string>
                <key>spriteSize</key>
                <string>{1330,1194}</string>
                <key>spriteSourceSize</key>
                <string>{1418,1212}</string>
                <key>textureRect</key>
                <string>{{1199,2398},{1330,1194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{1409,1198}</string>
                <key>spriteSourceSize</key>
                <string>{1433,1208}</string>
                <key>textureRect</key>
                <string>{{2614,1336},{1409,1198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{1480,1195}</string>
                <key>spriteSourceSize</key>
                <string>{1528,1219}</string>
                <key>textureRect</key>
                <string>{{1199,1},{1480,1195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_ORK_WALK.png</string>
            <key>size</key>
            <string>{3876,3593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6276ae34b4cea87d753bcef96cbbcbee:e8bd8a227bedc61b0012deec4e59cae5:379ff8a224f14f91dcee96c9285ee7af$</string>
            <key>textureFileName</key>
            <string>2_ORK_WALK.png</string>
        </dict>
    </dict>
</plist>
