<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-117,-9}</string>
                <key>spriteSize</key>
                <string>{649,539}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{1,1},{649,539}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-6}</string>
                <key>spriteSize</key>
                <string>{797,533}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{1149,1},{797,533}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-7}</string>
                <key>spriteSize</key>
                <string>{899,495}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{652,1},{899,495}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{889,451}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{1,542},{889,451}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,-30}</string>
                <key>spriteSize</key>
                <string>{813,407}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{454,902},{813,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{88,-51}</string>
                <key>spriteSize</key>
                <string>{813,365}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{1269,800},{813,365}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{102,-61}</string>
                <key>spriteSize</key>
                <string>{803,351}</string>
                <key>spriteSourceSize</key>
                <string>{1103,567}</string>
                <key>textureRect</key>
                <string>{{454,1311},{803,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_TROLL_DIE.png</string>
            <key>size</key>
            <string>{1683,1663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ffba9071f6493c810848c08125526f5:9c63ed8438f69c8e6ff3519f35af667b:e7dfa9120afa68e16f98ee2365fa1463$</string>
            <key>textureFileName</key>
            <string>2_TROLL_DIE.png</string>
        </dict>
    </dict>
</plist>
