<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{771,537}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{1,1},{771,537}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{717,539}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{1,774},{717,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{653,541}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{1081,1},{653,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{591,543}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{542,1087},{591,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{587,543}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{1135,1087},{587,543}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,11}</string>
                <key>spriteSize</key>
                <string>{651,541}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{1081,544},{651,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{715,539}</string>
                <key>spriteSourceSize</key>
                <string>{823,575}</string>
                <key>textureRect</key>
                <string>{{540,1},{715,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>2_TROLL_WALK.png</string>
            <key>size</key>
            <string>{1735,1631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b40c60df1d0e98f885fcb8d5d1200fc0:141c291fad8a1e1e984d073fd5568975:fbf2c15b0526df119445b229682e7974$</string>
            <key>textureFileName</key>
            <string>2_TROLL_WALK.png</string>
        </dict>
    </dict>
</plist>
