<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-122,9}</string>
                <key>spriteSize</key>
                <string>{834,1048}</string>
                <key>spriteSourceSize</key>
                <string>{1364,1178}</string>
                <key>textureRect</key>
                <string>{{1,1081},{834,1048}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-192,-39}</string>
                <key>spriteSize</key>
                <string>{812,982}</string>
                <key>spriteSourceSize</key>
                <string>{1364,1178}</string>
                <key>textureRect</key>
                <string>{{1421,1},{812,982}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-116,13}</string>
                <key>spriteSize</key>
                <string>{826,1058}</string>
                <key>spriteSourceSize</key>
                <string>{1364,1178}</string>
                <key>textureRect</key>
                <string>{{593,1},{826,1058}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{878,938}</string>
                <key>spriteSourceSize</key>
                <string>{1364,1178}</string>
                <key>textureRect</key>
                <string>{{1051,1061},{878,938}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{119,-135}</string>
                <key>spriteSize</key>
                <string>{1078,590}</string>
                <key>spriteSourceSize</key>
                <string>{1364,1178}</string>
                <key>textureRect</key>
                <string>{{1,1},{1078,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_ELF_DIE.png</string>
            <key>size</key>
            <string>{2234,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3676f3672c4ef3f7b804d285c1fcce05:ba1a54d2358d3d4ca9f253fc25e241f2:74fe527789ee660de98a17ea9b58fd0d$</string>
            <key>textureFileName</key>
            <string>3_ELF_DIE.png</string>
        </dict>
    </dict>
</plist>
