<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-503,-8}</string>
                <key>spriteSize</key>
                <string>{834,1048}</string>
                <key>spriteSourceSize</key>
                <string>{1880,1098}</string>
                <key>textureRect</key>
                <string>{{1051,1},{834,1048}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-509,-27}</string>
                <key>spriteSize</key>
                <string>{824,1028}</string>
                <key>spriteSourceSize</key>
                <string>{1880,1098}</string>
                <key>textureRect</key>
                <string>{{1051,2099},{824,1028}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-435,-3}</string>
                <key>spriteSize</key>
                <string>{966,1046}</string>
                <key>spriteSourceSize</key>
                <string>{1880,1098}</string>
                <key>textureRect</key>
                <string>{{1051,1051},{966,1046}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-148,-5}</string>
                <key>spriteSize</key>
                <string>{1544,1048}</string>
                <key>spriteSourceSize</key>
                <string>{1880,1098}</string>
                <key>textureRect</key>
                <string>{{1,1863},{1544,1048}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-6}</string>
                <key>spriteSize</key>
                <string>{1860,1048}</string>
                <key>spriteSourceSize</key>
                <string>{1880,1098}</string>
                <key>textureRect</key>
                <string>{{1,1},{1860,1048}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_ELF_ATTACK.png</string>
            <key>size</key>
            <string>{2018,3408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baac31d211e3dcd736064bee3e4710ff:33fb3543ad5a1820bdcdf7731c65e625:a0453041dec1cde000579bc2d00cec45$</string>
            <key>textureFileName</key>
            <string>3_ELF_ATTACK.png</string>
        </dict>
    </dict>
</plist>
