<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-69}</string>
                <key>spriteSize</key>
                <string>{1128,963}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1,3064},{1128,963}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,10}</string>
                <key>spriteSize</key>
                <string>{834,1137}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1193,1080},{834,1137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-207,-29}</string>
                <key>spriteSize</key>
                <string>{784,1077}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1219,1},{784,1077}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-140,6}</string>
                <key>spriteSize</key>
                <string>{886,1145}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1157,2219},{886,1145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{55,-39}</string>
                <key>spriteSize</key>
                <string>{1216,1033}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1,1},{1216,1033}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{68,-45}</string>
                <key>spriteSize</key>
                <string>{1190,1025}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1,1036},{1190,1025}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,-56}</string>
                <key>spriteSize</key>
                <string>{1154,999}</string>
                <key>spriteSourceSize</key>
                <string>{1326,1157}</string>
                <key>textureRect</key>
                <string>{{1,2063},{1154,999}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_KNIGHT_ATTACK.png</string>
            <key>size</key>
            <string>{2044,4028}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ec5f7dba7aa54cf92c236055b6029b1:961af474863e383df9566d1e4eae25dd:8d112670129c5dd7b9f78066d39e31ad$</string>
            <key>textureFileName</key>
            <string>3_KNIGHT_ATTACK.png</string>
        </dict>
    </dict>
</plist>
