<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{252,96}</string>
                <key>spriteSize</key>
                <string>{1135,963}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{2651,1},{1135,963}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{157,107}</string>
                <key>spriteSize</key>
                <string>{1281,1021}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{1368,1},{1281,1021}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,110}</string>
                <key>spriteSize</key>
                <string>{1365,1069}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{1,1},{1365,1069}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,77}</string>
                <key>spriteSize</key>
                <string>{1387,1041}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{1,1072},{1387,1041}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-54}</string>
                <key>spriteSize</key>
                <string>{1323,881}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{2522,1138},{1323,881}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-218}</string>
                <key>spriteSize</key>
                <string>{1343,721}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{1799,1024},{1343,721}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-303}</string>
                <key>spriteSize</key>
                <string>{1377,753}</string>
                <key>spriteSourceSize</key>
                <string>{1639,1375}</string>
                <key>textureRect</key>
                <string>{{1044,1072},{1377,753}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_KNIGHT_DIE.png</string>
            <key>size</key>
            <string>{3615,2462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55891ccc0772871cdc55146d44ed4c45:faf0c9635fc713990acdf78ac250260b:a2958f422343da1d2044d78331c4de17$</string>
            <key>textureFileName</key>
            <string>3_KNIGHT_DIE.png</string>
        </dict>
    </dict>
</plist>
