<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{1416,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1468,1208}</string>
                <key>textureRect</key>
                <string>{{1865,2096},{1416,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{1678,1199}</string>
                <key>spriteSourceSize</key>
                <string>{1742,1221}</string>
                <key>textureRect</key>
                <string>{{1874,1},{1678,1199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{1871,1172}</string>
                <key>spriteSourceSize</key>
                <string>{1991,1204}</string>
                <key>textureRect</key>
                <string>{{1,1},{1871,1172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-50}</string>
                <key>spriteSize</key>
                <string>{1875,1063}</string>
                <key>spriteSourceSize</key>
                <string>{1993,1195}</string>
                <key>textureRect</key>
                <string>{{1,1175},{1875,1063}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-61}</string>
                <key>spriteSize</key>
                <string>{1812,892}</string>
                <key>spriteSourceSize</key>
                <string>{1908,1130}</string>
                <key>textureRect</key>
                <string>{{1865,1202},{1812,892}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,8}</string>
                <key>spriteSize</key>
                <string>{1828,797}</string>
                <key>spriteSourceSize</key>
                <string>{1890,987}</string>
                <key>textureRect</key>
                <string>{{1066,1175},{1828,797}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{1847,823}</string>
                <key>spriteSourceSize</key>
                <string>{1901,921}</string>
                <key>textureRect</key>
                <string>{{1,3052},{1847,823}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_ORK_DIE.png</string>
            <key>size</key>
            <string>{3678,3876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b3e6bdf0bfc76fc67fd4b4c01870ba7:82ce306dab9f3189f3c255a51858886d:69a1b4738657819b604e4c176f04dd9a$</string>
            <key>textureFileName</key>
            <string>3_ORK_DIE.png</string>
        </dict>
    </dict>
</plist>
