<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,0}</string>
                <key>spriteSize</key>
                <string>{1416,1208}</string>
                <key>spriteSourceSize</key>
                <string>{1468,1208}</string>
                <key>textureRect</key>
                <string>{{1571,1215},{1416,1208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,2}</string>
                <key>spriteSize</key>
                <string>{1568,1213}</string>
                <key>spriteSourceSize</key>
                <string>{1632,1219}</string>
                <key>textureRect</key>
                <string>{{1,1213},{1568,1213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-3}</string>
                <key>spriteSize</key>
                <string>{1598,1212}</string>
                <key>spriteSourceSize</key>
                <string>{1718,1240}</string>
                <key>textureRect</key>
                <string>{{1604,1},{1598,1212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-19}</string>
                <key>spriteSize</key>
                <string>{1466,1390}</string>
                <key>spriteSourceSize</key>
                <string>{1532,1456}</string>
                <key>textureRect</key>
                <string>{{2540,2425},{1466,1390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-26}</string>
                <key>spriteSize</key>
                <string>{1323,1562}</string>
                <key>spriteSourceSize</key>
                <string>{1413,1646}</string>
                <key>textureRect</key>
                <string>{{1,2428},{1323,1562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-45}</string>
                <key>spriteSize</key>
                <string>{1601,1210}</string>
                <key>spriteSourceSize</key>
                <string>{1721,1330}</string>
                <key>textureRect</key>
                <string>{{1,1},{1601,1210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{1480,1212}</string>
                <key>spriteSourceSize</key>
                <string>{1494,1224}</string>
                <key>textureRect</key>
                <string>{{1326,2428},{1480,1212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_ORK_ATTAK.png</string>
            <key>size</key>
            <string>{3931,3991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d009afe8c917c57437f5eacb02da1d3:60836302fac5cbabf457163ab2b97942:1bdddafd07368ffac8dd70e93751aafb$</string>
            <key>textureFileName</key>
            <string>3_ORK_ATTAK.png</string>
        </dict>
    </dict>
</plist>
