<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ATTAK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-66}</string>
                <key>spriteSize</key>
                <string>{701,675}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{1273,1303},{701,675}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-19}</string>
                <key>spriteSize</key>
                <string>{739,763}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{728,1},{739,763}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-8}</string>
                <key>spriteSize</key>
                <string>{725,783}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{1,1},{725,783}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-10}</string>
                <key>spriteSize</key>
                <string>{731,781}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{1,786},{731,781}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,-133}</string>
                <key>spriteSize</key>
                <string>{747,533}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{1469,1},{747,533}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ATTAK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-133}</string>
                <key>spriteSize</key>
                <string>{725,535}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{1273,766},{725,535}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ATTAK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-133}</string>
                <key>spriteSize</key>
                <string>{741,537}</string>
                <key>spriteSourceSize</key>
                <string>{961,809}</string>
                <key>textureRect</key>
                <string>{{734,766},{741,537}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_ATTAK.png</string>
            <key>size</key>
            <string>{2003,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:333e35ccce9f0282ac88f8e4bd461b63:30dcb22c37b37707e5fdb5aff95f2fe1:90b6cc22248e3bea0221a93b50c7139b$</string>
            <key>textureFileName</key>
            <string>3_TROLL_ATTAK.png</string>
        </dict>
    </dict>
</plist>
