<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-102,-3}</string>
                <key>spriteSize</key>
                <string>{689,538}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{862,1},{689,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,-1}</string>
                <key>spriteSize</key>
                <string>{817,530}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{1,495},{817,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-84,-2}</string>
                <key>spriteSize</key>
                <string>{859,492}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{1,1},{859,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,32}</string>
                <key>spriteSize</key>
                <string>{817,472}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{1,1027},{817,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,13}</string>
                <key>spriteSize</key>
                <string>{739,438}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{820,541},{739,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-13}</string>
                <key>spriteSize</key>
                <string>{741,392}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{820,1282},{741,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-40}</string>
                <key>spriteSize</key>
                <string>{733,384}</string>
                <key>spriteSourceSize</key>
                <string>{1121,612}</string>
                <key>textureRect</key>
                <string>{{1260,541},{733,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_DIE.png</string>
            <key>size</key>
            <string>{1645,1675}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2bd257752b946372a43a599109009ad:b08b8aa46e56db4a860951fcdadbc3c1:00c1bc83f67c46e38910c65954a84f1c$</string>
            <key>textureFileName</key>
            <string>3_TROLL_DIE.png</string>
        </dict>
    </dict>
</plist>
