<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,16}</string>
                <key>spriteSize</key>
                <string>{776,538}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{1,1},{776,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,17}</string>
                <key>spriteSize</key>
                <string>{738,538}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{1,779},{738,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,16}</string>
                <key>spriteSize</key>
                <string>{688,538}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{1279,1},{688,538}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{41,16}</string>
                <key>spriteSize</key>
                <string>{630,536}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{541,1081},{630,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,16}</string>
                <key>spriteSize</key>
                <string>{626,536}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{1173,1081},{626,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,16}</string>
                <key>spriteSize</key>
                <string>{686,538}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{541,541},{686,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,17}</string>
                <key>spriteSize</key>
                <string>{736,538}</string>
                <key>spriteSourceSize</key>
                <string>{794,590}</string>
                <key>textureRect</key>
                <string>{{541,1},{736,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_WALK.png</string>
            <key>size</key>
            <string>{1818,1618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aea2348791b15233bf659e93ff998856:c8164ff4d48edee5821e1f6877f5a9c9:5b87bca578efd1e235a1c80d9ef93808$</string>
            <key>textureFileName</key>
            <string>3_TROLL_WALK.png</string>
        </dict>
    </dict>
</plist>
