<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_ORK_WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{87,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,64}</string>
                <key>spriteSourceSize</key>
                <string>{79,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{79,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{69,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{1,265},{67,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1,331},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,64}</string>
                <key>spriteSourceSize</key>
                <string>{79,64}</string>
                <key>textureRect</key>
                <string>{{1,397},{79,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ORK_WALK.png</string>
            <key>size</key>
            <string>{89,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e891600bb9d7a1d64b243d7a4afb7cf1:62198b98f6c0ec5e5e7d10b9fdde7fe1:321586495f248fbba9252b3015f3c3da$</string>
            <key>textureFileName</key>
            <string>1_ORK_WALK.png</string>
        </dict>
    </dict>
</plist>
