<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_ORK_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{1,125},{76,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,191},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{94,64}</string>
                <key>textureRect</key>
                <string>{{1,257},{92,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{1,323},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{60,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1_ORK_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{88,64}</string>
                <key>textureRect</key>
                <string>{{1,61},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_ORK_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,64}</string>
                <key>spriteSourceSize</key>
                <string>{81,64}</string>
                <key>textureRect</key>
                <string>{{1,389},{81,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_ORK_ATTACK.png</string>
            <key>size</key>
            <string>{94,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8bfd1f3d03c7ba39c88a316cf1c2887:93d54323a0e1df08bc02f99e29964f98:91102d3b5cb07bad531f99c4f10aa7cd$</string>
            <key>textureFileName</key>
            <string>1_ORK_ATTACK.png</string>
        </dict>
    </dict>
</plist>
