<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_KNIGHT_WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,265},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,331},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,64}</string>
                <key>spriteSourceSize</key>
                <string>{89,64}</string>
                <key>textureRect</key>
                <string>{{1,397},{89,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_KNIGHT_WALK.png</string>
            <key>size</key>
            <string>{91,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9802733de62705fde59221d8ebba17e7:b50eec8b93c275f9bdbef348add5ec6f:e31c02827a72678f71e1754e117b62a4$</string>
            <key>textureFileName</key>
            <string>1_KNIGHT_WALK.png</string>
        </dict>
    </dict>
</plist>
