<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DIE_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,117},{70,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{70,52}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{73,145},{70,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{68,48}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{79,1},{68,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{72,44}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{79,71},{72,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>DIE_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{76,36}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,43},{76,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DIE_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-15}</string>
                <key>spriteSize</key>
                <string>{74,34}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,81},{74,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_KNIGHT_DIE.png</string>
            <key>size</key>
            <string>{128,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db99bfa32d877ff5613797de41da0f00:e2b12cf2f58e637dfe0525b74a333682:b6f7bc1dd8bb6a6e293c3c74e2dd9528$</string>
            <key>textureFileName</key>
            <string>1_KNIGHT_DIE.png</string>
        </dict>
    </dict>
</plist>
