<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_KNIGHT_ATTACK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{95,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{98,1},{95,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{288,1},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{83,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{466,1},{83,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{77,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{551,1},{77,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{77,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{630,1},{77,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{377,1},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_KNIGHT_ATTACK_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{91,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{195,1},{91,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1_KNIGHT_ATTACK.png</string>
            <key>size</key>
            <string>{708,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53dba5049a53b955691103537539301b:4c31286ddeddaa08544123f14750d8ef:e264b8f7286850cf6d3622a06d43de97$</string>
            <key>textureFileName</key>
            <string>1_KNIGHT_ATTACK.png</string>
        </dict>
    </dict>
</plist>
