<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{86,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{82,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{89,1},{82,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{257,1},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{417,1},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{491,1},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{78,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{337,1},{78,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3_WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{82,62}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{173,1},{82,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3_TROLL_WALK.png</string>
            <key>size</key>
            <string>{564,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28876cd574d0e50ddb06affdfd299e89:159016de819fd0f9f1f625ddbdd55d78:5b87bca578efd1e235a1c80d9ef93808$</string>
            <key>textureFileName</key>
            <string>3_TROLL_WALK.png</string>
        </dict>
    </dict>
</plist>
