<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WALK_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{93,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{96,1},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{274,1},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{75,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{440,1},{75,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{75,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{517,1},{75,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{81,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{357,1},{81,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WALK_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{87,62}</string>
                <key>spriteSourceSize</key>
                <string>{95,64}</string>
                <key>textureRect</key>
                <string>{{185,1},{87,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>C:/Users/Win 8.1 Pro/Desktop/New folder (2)/1_TROLL_WALK.png/1_TROLL_WALK.png</string>
            <key>size</key>
            <string>{593,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba60e9e28ce9f8dd7ac8244277acdc24:f62ccb772f6426aefab9e3ad39995614:f07f8a63be229985994235ad80739983$</string>
            <key>textureFileName</key>
            <string>C:/Users/Win 8.1 Pro/Desktop/New folder (2)/1_TROLL_WALK.png/1_TROLL_WALK.png</string>
        </dict>
    </dict>
</plist>
